{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="hero-unit">
  <h1>
    Loan Approval and Quality Prediction in the Lending Club Marketplace
  </h1>

  <form action="/predict" method='POST'>
    Loan Amount: <br>
    <input type="text" name="loan_amount">
    <br>
    Debt To Income: <br>
    <input type="text" name="debt_to_income">
    <br>
    Zip Code: <br>
    <input type="text" name="zip_code">
    <br>
    Address State: <br>
    <input type="text" name="address_state">
    <br>
    Employment Length: <br>
    <input type="text" name="employment_length">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}